.header {
    width: 100%;
    height: 70px;
    background: url("http://localhost:3000/images/header_footer.jpg") center;
    font-family: "Playfair Display", serif;
    font-size: 36px;
    color: white;
    text-align: center;
}

.footer {
    width: 100%;
    height: 70px;
    background: url("http://localhost:3000/images/header_footer.jpg") center;
    font-family: "Playfair Display", serif;
    font-size: 26px;
    color: white;
    text-align: center;
    flex: 0 0 auto;
}

#menuText {
    margin: 0;
    line-height: 50px;
}

#headerFooterText {
    margin: 0;
    line-height: 70px;
}

.menu {
    max-width: 100%;
    white-space: nowrap;
}

a {
    text-decoration: none;
}
.themeButton {
    display: inline-block;
    width: 32.18%;
    height: 50px;
    margin: 5px 10px;
    padding: 0;
    text-align: center;
    font-size: 32px;
    font-family: "Playfair Display", serif;
    color: white;
    border: 1px solid #157B7B;
}

#fractals {
    min-width: 200px;
    background: url("http://localhost:3000/images/fractals.png") center;
}

#colorModels {
    min-width: 280px;
    background: url("http://localhost:3000/images/color_models.png") center;
}

#affineTransformations {
    min-width: 420px;
    background: url("http://localhost:3000/images/affine_transformations.jpg") center;
}

.dropdownContent {
    display: none;
    position: absolute;
    width: 32.28%;
    margin-left: -1px;
}
#fractalsDropdownContent {
    background-color: #82FFFF;
}
#colorModelsDropdownContent {
    background-color: #F53116;
}
#affineTransformationsDropdownContent {
    background-color: #E5E5E5;
}

.dropdownContent a {
    color: black;
    height: 50px;
    font-family: "Playfair Display", serif;
    font-size: 26px;
    text-decoration: none;
    display: block;
    border: #157B7B solid 1px;
}

.dropdown:hover .dropdownContent {display: block;}
.dropdown:hover {
    box-shadow: 0 0 0 99999px rgba(0, 0, 0, 0.3);
}

