#colorModelsBuilding {
    display: inline-block;
    width: 86%;
    min-height: 725px;
}

#colorModelsProperties {
    display: inline-block;
    text-align: center;
    float: left;
    width: 13%;
    min-height: 725px;
    border: #157B7B solid 2px;
}

.canvasColorModels {
    display: block;
    width: 600px;
    height: 670px;
    padding-top: 40px;
    text-align: center;
}

#before {
    float: left;
    margin-left: 10%;
}

#after {
    margin-left: 55%;
}

.canvas {
    display: block;
    position: relative;
    top: 40px;
    border: #157B7B solid 2px;
}

#rgbHsvConvert {
    width: 96%;
    height: 70px;
    margin-left: 2%;
    font-size: 20px;
}

#rgbHsvConverterColor {
    display: inline-block;
    float: left;
    width: 9%;
    height: 100%;
    border: 1px solid black;
    vertical-align: middle;
    background-color: black;
}

#rgbHsvConverterResult {
    display: inline-block;
    width: 80%;
    height: 100%;
    vertical-align: middle;
}

.colorModelsButton {
    display: block;
    margin: 10px 10%;
    width: 80%;
    height: 35px;
    background: linear-gradient(180deg, #0029FF, #47C6F1);
    font-size: 18px;
    border: 1px grey solid;
}