.content {
    margin: 0 50px;
    flex: 1 0 auto;
    font-family: "Times New Roman", serif;
    font-size: 24px;

}

.center {
    display: flex;
    justify-content: center;
    font-size: 26px;
}

.practiceContent {
    flex: 1 0 auto;
    font-family: "Times New Roman", serif;
    font-size: 24px;
    margin: 0 10px;
}

#fractalsList {
    display: inline-block;
    float: left;
    width: 10%;
    min-height: 725px;
    border: #157B7B solid 2px;
}

#fractalsBuilding {
    display: inline-block;
    width: 89%;
    min-height: 725px;
}

#fractalsProperties {
    display: inline-block;
    float: left;
    width: 28%;
    min-height: 725px;
    border: #157B7B solid 2px;
}

#canvasFractal {
    display: inline-block;
    width: 600px;
    height: 600px;
    margin-top: 62px;
    margin-left: 18%;
    border: #157B7B solid 2px;
}

.inputFields{
    display: block;
    margin: 10px;
}

.inputField{
    display: block;
    margin: 10px 0;
}

.numberInput{
    margin-left: 10px;
    width: 60px;
    height: 20px;
    vertical-align: middle;
    font-size: 18px;
}

#xInput {
    display: inline-block;
    margin-left: 15%;
    float: left;
}
#yInput {
    display: inline-block;
    margin-left: 15%;
}

#styleSelect.fractals {
    text-align: center;
    display: block;
    margin: 10px 25%;
    width: 50%;
    height: 40px;
    background: linear-gradient(180deg, #0029FF, #47C6F1);
    font-size: 18px;
}

.errorMessagesBox {
    margin: 20px;
    padding-left: 10px;
    border: red solid 1px;
    display: none;
    max-height: 365px;
    overflow-y: auto;
}

.helpBox {
    margin: 4%;
    text-align: left;
    display: none;
    height: 92%;
    width: 92%;
    overflow-y: auto;
}

.fractalsButtons {
    display: block;
    margin: 10px 25%;
    width: 50%;
    height: 40px;
    background: linear-gradient(180deg, #0029FF, #47C6F1);
    font-size: 18px;
    border: 1px grey solid;
}