.content {
    margin: 0 50px;
    flex: 1 0 auto;
    font-family: "Times New Roman", serif;
    font-size: 24px;

}

.center {
    display: flex;
    justify-content: center;
    font-size: 26px;
}

.centerText {
    text-align: center;
}

.right {
    display: flex;
    justify-content: right;
    align-items: center;
    width: 50%;

}
.formula {
    display: flex;
    flex-direction: row;
}

#affineTransformationsBuilding {
    display: inline-block;
    width: 81%;
    min-height: 725px;
}

#affineTransformationsProperties {
    display: inline-block;
    float: left;
    width: 18%;
    min-height: 725px;
    border: #157B7B solid 2px;
}

.affineTransformationsButton {
    display: block;
    text-align: center;
    margin: 10px auto;
    min-width: 60%;
    height: 35px;
    background: linear-gradient(180deg, #0029FF, #47C6F1);
    font-size: 18px;
    border: 1px grey solid;
}

#canvasAffineTransformations {
    display: inline-block;
    width: 700px;
    height: 700px;
    margin-top: 15px;
    margin-left: 26%;
    border: #157B7B solid 2px;
}

#affineTransformationsInputs{
    display: block;
    margin: 10px;
}

.inputBlock {
    display: block;
    margin: 10px 0;
}

#xInput.vertexA, #xInput.vertexB, #xInput.vertexC {
    display: inline-block;
    margin-left: 15%;
    float: left;
}
#yInput.vertexA, #yInput.vertexB, #yInput.vertexC {
    display: inline-block;
    margin-left: 15%;
}

#specialInput {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 18px;
}
#inlineInput {
    display: flex;
    flex-direction: row;
}

#affineTransformationsErrors.errorMessagesBox {
    margin: 20px;
    padding-left: 10px;
    border: red solid 1px;
    display: none;
    max-height: 30vh;
    overflow-y: auto;
}